/* _content/ECF_Quai_Antique/Pages/Administration.razor.rz.scp.css */
/* Main Page */

.main-page[b-ent861kblg]{
    background-color: #E9DDBE;
}


/* Header */

.header[b-ent861kblg]{
    padding-top: 1rem;
    text-align: center;
    font-family: "Karma";
}

.header > h1[b-ent861kblg]{
    font-size: 2.5rem;
}

/* Body */

.admin-body[b-ent861kblg]{
    display: flex;
    flex-direction: column;
    padding: 0 2rem 1rem;
}

/* Sections */

.setup-container[b-ent861kblg]{
    display: block;
    width: 100%;
    background-color: rgba(160, 140, 90, 0.7);
    padding: 1rem;
    margin-top: 2rem;
    border: 0.0625rem solid #785F37;
    border-radius: 0.9375rem;
}

/* Title of sections */

.title[b-ent861kblg]{
    display: flex;
    justify-content: space-between;
    color: #16110F;
    font-family: "Karma";
    margin-bottom: 1rem;
    margin-right: 1.25rem;
}

.section-title[b-ent861kblg]{
    font-size: 2rem;
}

.validation-button[b-ent861kblg]{
    font-size:1.5rem;
}

/* Inputs */

.input-section[b-ent861kblg] {
    display: flex;
    justify-content: space-around;
    color: #16110F;
    font-family: "Arial";
}

.label-style[b-ent861kblg] {
    font-size: 1.5rem;
    border-radius: 0.9375rem;
}

.input-field[b-ent861kblg] {
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: #E9DDBE;
    border-radius: 0.9375rem;
    font-size: 1.125rem;
}


/* WorkDay and WorkHours */

.work-hours-title[b-ent861kblg] {
    text-align: center;
    color: #16110F;
    font-size: 2rem;
    font-family: "Karma";
}

.days-title[b-ent861kblg]{
    display: flex;
    flex-direction: row;
}

.day-column[b-ent861kblg]{
    width: 12.5%;
    display: inline-flex;
    flex-direction: column;
}

.first-day-column[b-ent861kblg]{
    width: 10%;
}

.day-cell[b-ent861kblg]{
    height: 1.75rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.25rem 0;
    font-family: "Arial";
    font-size: 1rem;
    color: #16110F;
    font-weight: 600;
}

.time-input[b-ent861kblg]{
    padding-left: 0.25rem;
    background-color: #E9DDBE;
    border-radius: 0.9375rem;
}

.isactive-switch[b-ent861kblg]{
    height: 0.875rem;
    width: 0.875rem;
}

/* Dishes */



.dish-input-section[b-ent861kblg] {
    display: flex;
    flex-direction: column;
    color: #16110F;
    font-family: "Arial";
}

.dish-input-line[b-ent861kblg]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:0.5rem;
}

.dish-label[b-ent861kblg] {
    border-radius: 0.9375rem;
    align-self: center;
    color: #16110F;
    font-family: "Arial";
    font-size: 1.25rem;
}

.dish-label > button[b-ent861kblg]{
    margin-left: 2rem;
}

.dish-input-field[b-ent861kblg] {
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: #E9DDBE;
    border-radius: 0.9375rem;
    font-size: 1.125rem;
}

textarea[b-ent861kblg] {
    resize: none;
}

.label-adjuster[b-ent861kblg]{
    display: flex;
}

.select-zone[b-ent861kblg]{
    display: flex;
    flex-direction: column;
}

/* Formulas */

.formula-input-line[b-ent861kblg] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

.multiple-select[b-ent861kblg]{
    display: flex;
    flex-direction: column;
}

.formula-label[b-ent861kblg] {
    border-radius: 0.9375rem;
    align-self: center;
    color: #16110F;
    font-family: "Arial";
    font-size: 1.25rem;
}

.formula-input-field[b-ent861kblg] {
    padding: 0.5rem;
    margin-left: 0.5rem ;
    background-color: #E9DDBE;
    border-radius: 0.9375rem;
    font-size: 1.125rem;
}

.formula-adjuster[b-ent861kblg]{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.formula-checkbox[b-ent861kblg]{
    height: 1.25rem;
    width: 1.25rem;
    background-color: #E9DDBE;
}

.formula-label > button[b-ent861kblg]{
    margin-left: 2rem;
}

/* Menu */
/* _content/ECF_Quai_Antique/Pages/Carte.razor.rz.scp.css */
/* Page */

.page-content[b-hkby1i3g8z]{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

.header[b-hkby1i3g8z] {
    padding-top: 1rem;
    text-align: center;
    color: #16110f;
    font-family: "Karma";
    font-size: 2.5rem;
}

/* Restaurant Menu */

.restaurant-menu[b-hkby1i3g8z]{
    display: flex;
    flex-direction: row;
    height: 60vh;
    max-height: 60vh ;
    overflow-y: auto;
    margin: 0 1rem 0.5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785F37;
    border-radius: 0.9375rem;
}

.restaurant-menu > div[b-hkby1i3g8z]{
    width: 33%;
    margin: 0.75rem 0;
    flex: auto;
}

.restaurant-menu-part[b-hkby1i3g8z]{
    padding: 0 0.75rem;
}

/* Common */
h2[b-hkby1i3g8z] {
    color: #16110f;
    font-family: "Karma";
    font-size: 1.75rem;
}

/* Menu */

.menu-element[b-hkby1i3g8z]{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    margin: 0 0 0.25rem;
    background-color: #785F37;
    border: 0.0625rem solid #16110f;
    border-radius: 0.5rem;
    color: #E9DDBE;
    font-family: "Arial";
    font-size: 1rem;
}

.menu-name[b-hkby1i3g8z]{
    align-self: center;
    font-family: "Karma";
    font-size: 1.5rem;
}

.formula[b-hkby1i3g8z] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-family: "Arial";
}
/* _content/ECF_Quai_Antique/Pages/Réservation.razor.rz.scp.css */
/* Name and Guests */

.first-inputs[b-wbobh5sxgf]{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

/* Labels */

label[b-wbobh5sxgf]{
    border-radius: 0.9375rem;
    color: #16110F;
    font-family: "Karma";
    font-size: 1.25rem;
}

label > input[b-wbobh5sxgf]{
    width: 10rem;
    padding: 0.25rem 0.5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    font-family: "Arial";
    font-size: 1rem;
}

label > input:first-child[b-wbobh5sxgf]{
    margin-right: 2rem;
}

/* Booking Hours */

.period-title[b-wbobh5sxgf]{
    color: #16110F;
    font-family: "Karma";
    font-size: 1.25rem;
}

.booking-hours[b-wbobh5sxgf] {
    display: flex;
    flex-direction: row;
    cursor: default;
    margin-bottom: 0.5rem;
}

.booking-hour[b-wbobh5sxgf] {
    padding: 0 0.5rem;
    margin: 0 0.5rem 0 0;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    color: #16110F;
    font-family: "Arial";
    font-size: 1rem;
}

.selected-date[b-wbobh5sxgf] {
    border: 0.125rem solid #16110F;
}

.closed-span[b-wbobh5sxgf]{
    color: #16110F;
    font-family:"Arial";
    font-size: 1.125rem;
}

/* Date */

.date-input[b-wbobh5sxgf]{
    margin-bottom: 0.5rem;
}

/* Action Button */

.actions-buttons[b-wbobh5sxgf] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions-buttons > button:first-child[b-wbobh5sxgf]{
    margin-right:0.5rem;
}

.actions-buttons > button[b-wbobh5sxgf] {
    width: 5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    color: #16110F;
    font-family: "Arial";
    font-size: 1rem;
}

/* Allergies */

.allergies-container[b-wbobh5sxgf]{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.allergie-element[b-wbobh5sxgf]{
    margin-right: 0.75rem;
}

.allergie-label[b-wbobh5sxgf]{
    width: 9rem;
    padding-left: 0.5rem;
    margin: 0 0.3125rem 0.25rem;
    color: #16110F;
    background: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
}
/* _content/ECF_Quai_Antique/Shared/DishElement.razor.rz.scp.css */
/* dish-element */

.dish-element[b-whttfv2aq4]{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    margin: 0 0 0.25rem;
    background-color: #785F37;
    border: 0.0625rem solid #16110f;
    border-radius: 0.5rem;
    color: #E9DDBE;
    font-family: "Arial";
    font-size: 1rem;
}
.dish-first-part[b-whttfv2aq4] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* _content/ECF_Quai_Antique/Shared/FootHours.razor.rz.scp.css */
/* WorkDay and WorkHours */

.work-day-footer[b-nexupr79dx] {
    margin: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgba(160, 140, 90, 0.7);
    border: 0.0625rem solid #16110F;
    border-radius: 0.9375rem;
}

.work-hours-title[b-nexupr79dx] {
    text-align: center;
    color: #16110F;
    font-size: 2rem;
    font-family: "Karma";
}

.days-zone[b-nexupr79dx]{
    display: flex;
    flex-direction: row;
}

.day-column[b-nexupr79dx]{
    width: 12.5%;
    display: inline-flex;
    flex-direction: column;
}

.first-day-column[b-nexupr79dx]{
    width: 10%;
}

.day-cell[b-nexupr79dx]{
    height: 2rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0.25rem 0;
    font-family: "Arial";
    font-size: 1rem;
    color: #16110F;
    font-weight: 600;
}
/* _content/ECF_Quai_Antique/Shared/MainLayout.razor.rz.scp.css */
.page[b-43kme8cigw] {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* HEADER */

.header[b-43kme8cigw] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: #CBB681;
    border-bottom: 0.0625rem solid #E9DDBE;
    background-color: #16110F
}

.header:first-child[b-43kme8cigw]{
    padding-left: 2rem;
}

.img-header[b-43kme8cigw]{
    height: 9vh;
    width: 18rem;
}

.connexion[b-43kme8cigw]{
    padding-right: 2rem;
}

/* NAV MENU*/

.sidebar[b-43kme8cigw] {
    height: auto;
    width: 250px;
    position: fixed;
    top: 10vh;
    border-radius: 0 0 0.9375rem 0;
    background-image: linear-gradient(260deg, #CBB681 0%, #785F37 80%);
    z-index: 10;
}

/* BODY */
main[b-43kme8cigw] {
    flex: 1;
}


.content[b-43kme8cigw] {
    height: calc(100vh - 10vh);
    background-color: #E9DDBE;
}


.collapse[b-43kme8cigw]{
    display : none
}
/* _content/ECF_Quai_Antique/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z630wsy62d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z630wsy62d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z630wsy62d] {
    font-size: 1.1rem;
}

.oi[b-z630wsy62d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z630wsy62d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z630wsy62d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z630wsy62d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z630wsy62d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z630wsy62d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z630wsy62d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z630wsy62d] {
        display: none;
    }
}
/* _content/ECF_Quai_Antique/Shared/ReservationButton.razor.rz.scp.css */
/* Reservation Button */

.reservation-button[b-k771n9pi5i] {
    height: 2rem;
    align-self: center;
    padding: 0.5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785F37;
    border-radius: 1.5rem;
    color: #16110f;
    font-family: "Arial";
    font-size: 1.5rem;
}
