@page "/"
@using ECF_Quai_Antique.Entities
@using ECF_Quai_Antique.BLL.Interfaces
@inject IRestaurantService restaurantService

<div class="main-page">
    <div class="header">
        <h1>Acceuil</h1>
    </div>
    <div class="acceuil-body">
        <ReservationButton Text="Réserver" />
        <FootHours restaurant="restaurant" />
    </div>
</div>

@code{
    Restaurant restaurant = new Restaurant();

    protected override void OnInitialized()
    {
        restaurant = restaurantService.GetRestaurant();
    }
}