/* Page */

.page-content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */

.header {
    padding-top: 1rem;
    text-align: center;
    color: #16110f;
    font-family: "Karma";
    font-size: 2.5rem;
    border: none;
}

/* Restaurant Menu */

.restaurant-menu{
    display: flex;
    flex-direction: row;
    height: 60vh;
    max-height: 60vh ;
    overflow-y: auto;
    margin: 0 1rem 0.5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785F37;
    border-radius: 0.9375rem;
}

.restaurant-menu > div{
    width: 33%;
    margin: 0.75rem 0;
    flex: auto;
}

.restaurant-menu-part{
    padding: 0 0.75rem;
}

/* Common */
h2 {
    color: #16110f;
    font-family: "Karma";
    font-size: 1.75rem;
}

/* Menu */

.menu-element{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    margin: 0 0 0.25rem;
    background-color: #785F37;
    border: 0.0625rem solid #16110f;
    border-radius: 0.5rem;
    color: #E9DDBE;
    font-family: "Arial";
    font-size: 1rem;
}

.menu-name{
    align-self: center;
    font-family: "Karma";
    font-size: 1.5rem;
}

.formula {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-family: "Arial";
}