/* Labels */

.login-inputs > label {
    display: block;
    border-radius: 0.9375rem;
    color: #16110F;
    font-family: "Karma";
    font-size: 1.25rem;
}

.logins-container{
    margin-bottom: 2rem;
}


.login-inputs > input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0 1rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    font-family: "Arial";
    font-size: 1rem;
}

/* Name and Guests */

.first-inputs {
    display: flex;
    flex-direction: row;
}

.first-inputs > label{
    margin-bottom: 0.5rem;
    font-family: "Karma";
    font-size: 1.25rem;
}

.first-inputs> label > input{
    width: 8.25rem;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    font-family: "Arial";
    font-size: 1rem;
}

.first-inputs > label:first-child{
    margin-right: 1rem
}
.first-inputs > label:first-child >input{
    width: 16rem;
}
/* Action Button */

.actions-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions-buttons > button:first-child {
    margin-right: 0.5rem;
}

.actions-buttons > button {
    width: 8rem;
    background-color: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
    color: #16110F;
    font-family: "Arial";
    font-size: 1rem;
}

/* Editing button */

.editing-button{
    font-family: "Arial";
    font-size: 1rem;
    text-decoration: underline solid #785f37;
    font-style: italic;
}

/* Allergies */

.edit-inputs > label {
    font-family: "Karma";
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.allergies-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.allergie-element {
    margin-right: 0.75rem;
}

.allergie-label {
    width: 9rem;
    padding-left: 0.5rem;
    margin: 0 0.3125rem 0.25rem;
    color: #16110F;
    background: #A08C5A;
    border: 0.0625rem solid #785f37;
    border-radius: 0.9375rem;
}