@using ECF_Quai_Antique.Entities


<div class="work-day-footer">
    <div class="work-hours-title">Horaires d'Ouvertures :</div>
    <div class="days-zone">
        <div class="first-day-column">
            <div class="day-cell"></div>
            <div class="day-cell">Midi</div>
            <div class="day-cell">Soir</div>
        </div>
        @foreach (var day in restaurant.WorkDays)
        {
            <div class="day-column">
                <div class="day-cell">@day.Day.Name</div>
                @foreach (var shift in day.Periods)
                {
                    <div class="day-cell">@DisplayShift(shift)</div>
                }
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public Restaurant restaurant { get; set; }

    public string DisplayShift(Period shift)
    {
        if (shift.IsActive)
        {
            return ($"{shift.Open.Hour.ToString("D2")}:{shift.Open.Minute.ToString("D2")} - {shift.Open.Hour.ToString("D2")}:{shift.Close.Minute.ToString("D2")}");
        }
        else
        {
            return ($"Fermé");
        }
    }
}