@inherits LayoutComponentBase
@using ECF_Quai_Antique.Pages
@using ECF_Quai_Antique.Entities
@using ECF_Quai_Antique.Authentication
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>

</style>

<div class="page">
    <main>
        <div class="header">
            <button class="oi oi-menu" @onclick="ToggleNavMenu"></button>
            <img class="img-header" src="/css/Image/LogoQuaiAntique.png" />
            <AuthorizeView>
                <Authorized>
                    <div class="connexion">
                        <span>Bonjour @context.User.Identity.Name</span>
                        <span @onclick="LogOut">Déconnexion</span>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button class="connexion" @onclick="Connexion">Connexion</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="body">
            <div class="sidebar @displayMenu">
                <NavMenu OnClickCallback="ToggleNavMenu"/>
            </div>
            <div class="content">
                @Body
            </div>    
        </div>
    </main>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState{ get; set; }

    private bool collapseNavMenu = true;

    private string? displayMenu => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Connexion()
    {
        var options = new DialogOptions
            {
                CloseButton = true,
                CloseOnEscapeKey = true,
                FullWidth = true,
                Position = DialogPosition.Center
            };

        var dialog = await DialogService.ShowAsync<Connexion>("Connexion", options);
        var result = await dialog.Result;

        if (result.Data != null)
        {
            User currentUser = (User)result.Data;
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
            Snackbar.Configuration.SnackbarVariant = Variant.Filled;
            Snackbar.Add($"Bonjour", Severity.Success);
        }
    }

    private async Task LogOut()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}