@inherits LayoutComponentBase

@using ECF_Quai_Antique.Pages
@using ECF_Quai_Antique.Entities

@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>

</style>

<div class="page">
    <main>
        <div class="header">
            <button class="oi oi-menu" @onclick="ToggleNavMenu"></button>
            <img class="img-header" src="/css/Image/LogoQuaiAntique.png" />
            <button class="connexion" @onclick="Connexion">Connexion</button>
        </div>
        <div class="body">
            <div class="sidebar @displayMenu">
                <NavMenu OnClickCallback="ToggleNavMenu"/>
            </div>
            <div class="content">
                @Body
            </div>    
        </div>
    </main>
</div>

@code{
    private bool collapseNavMenu = true;

    private string? displayMenu => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Connexion()
    {
        var options = new DialogOptions
            {
                CloseButton = true,
                CloseOnEscapeKey = true,
                FullWidth = true,
                Position = DialogPosition.Center
            };

        var dialog = await DialogService.ShowAsync<Connexion>("Connexion", options);
        var result = await dialog.Result;

        if (result.Data != null)
        {
            User currentUser = (User)result.Data;
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
            Snackbar.Configuration.SnackbarVariant = Variant.Filled;
            Snackbar.Add($"Bonjour", Severity.Success);
        }
    }
}